{% extends "basic_app/base.html" %} {% block body_block %}
<div class="bg-light p-5 rounded">
  <h1 class="text-emphasis">Home Page!</h1>
  <p class="col-md-8 fs-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum magnam
    laudantium obcaecati harum fuga dicta, illum ipsa provident, nisi officiis
    ullam possimus at. Sint, quisquam maiores quaerat, necessitatibus rem est
    nemo unde placeat eligendi pariatur aliquid temporibus, quas expedita
    voluptate quibusdam. Iste, unde exercitationem?
  </p>
</div>
{% endblock%}
