{% extends "myApp/base.html" %} {% block body_block %}
<div class="bg-light p-5 rounded">
  {% if registered %}
  <h1 class="text-body-emphais">Thank-you for Registering</h1>
  <p class="col-md-8 fs-4"></p>
  {% else %}
  <h1 class="text-body-emphasis">Register Here!</h1>
  <h3>Fill out Form:</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ user_form.as_p }} {{ profile_form.as_p }}
    <input type="submit" value="Register!" />
  </form>
  {% endif %}
</div>
{% endblock %}
